* {
  box-sizing: border-box;
}

html,
body {
  color: #444;
  font-family: 'Helvetica', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  align-content: stretch;
  align-items: stretch;
  background: #ececec;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.calc-buttons {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.calc-display {
  float: left;
  text-align: right;
  width: 100%;
  height: 17%;
  font-size: 8vh;
  line-height: 17vh;
  font-weight: 300;
  padding: 0 1.5rem;
  color: #fafafa;
  font-weight: 100;
}

.calc-btn {
  float: left;
  text-align: center;
  width: 25%;
  height: 17%;
  font-size: 6vh;
  font-weight: 300;
  border: 0.5px solid #777;
}

.calc-btn.wide {
  width: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px 30px 40px 30px;
  border: 1px solid #888;
  max-width: 400px;
  text-align: center;
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#calc-set-theme {
color: #909090;
  color: #fff;
position: absolute;
top: 5px;
left: 10px;
font-size: 24px;
z-index: 9;
text-decoration: none;
}

#calc-set-theme:hover {
  color: #fafafa;
}

.radio div {
  display: inline-block;
}
.radio input[type="radio"] {
  display: none;
}
.radio input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.radio input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.radio input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}
.radio input[type="radio"]:checked + label span img {
  opacity: 1;
}


/* THEMES */

/* Apple */
.apple {
  background: #333;
}

.calc-btn.nm.apple {
  background: rgb(192, 192, 192);
  color: #1c1c1c;
  border: 0.5px solid #777;
}

.calc-btn.op.apple {
  background: #f5923e;
  color: #fafafa;
  border: 0.5px solid #777;
}

.calc-btn.sp.apple {
  background: #949597;
  color: #fafafa;
  border: 0.5px solid #777;
}

/* Bubblegum */
.bubblegum {
  color: #fff;
  background: #ff48a5;
  background: -moz-linear-gradient(45deg,  #ff48a5 0%, #ff77bc 45%, #ffcae5 100%);
  background: -webkit-linear-gradient(45deg,  #ff48a5 0%,#ff77bc 45%,#ffcae5 100%); 
  background: linear-gradient(45deg,  #ff48a5 0%,#ff77bc 45%,#ffcae5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff48a5', endColorstr='#ffcae5',GradientType=1 ); 
}

.calc-btn.nm.bubblegum {
  background: #ffcae5;
  border: 0.5px solid #ff48a4;
}

.calc-btn.op.bubblegum {
  background: #ff77bc;
   border: 0.5px solid #ff48a4;
}

.calc-btn.sp.bubblegum {
  background: #ffaed7;
  border: 0.5px solid #ff48a4;
}

/* Pink Pastel */
.pink-pastel {
  color: #fff;
  background: #f29fac;
  background: -moz-linear-gradient(45deg,  #f29fac 0%, #f3b7c2 100%);
  background: -webkit-linear-gradient(45deg,  #f29fac 0%,#f3b7c2 100%); 
  background: linear-gradient(45deg,  #f29fac 0%,#f3b7c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29fac', endColorstr='#f3b7c2',GradientType=1 );

}

.calc-btn.nm.pink-pastel {
  background: rgb(243,213,220);
}

.calc-btn.op.pink-pastel {
  background: rgb(237,201,210);
}

.calc-btn.sp.pink-pastel {
  background: rgb(243,183,194);
}

/* Unicorn */
.unicorn {
  color: #fff;
  background: #9994de;
  background: -moz-linear-gradient(left,  #9994de 0%, #f39eeb 100%);
  background: -webkit-linear-gradient(left,  #9994de 0%,#f39eeb 100%); 
  background: linear-gradient(to right,  #9994de 0%,#f39eeb 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9994de', endColorstr='#f39eeb',GradientType=1 );
}

.calc-btn.nm.unicorn {
  background: rgb(201,156,226);
  border: 0.5px solid rgb(153,148,222);
}

.calc-btn.op.unicorn {
  background: rgb(153,148,222);
  border: 0.5px solid rgb(153,148,222);
}

.calc-btn.sp.unicorn {
  background: rgb(253,160,238);
  border: 0.5px solid rgb(153,148,222);
}
